{% extends 'studdb/base.html' %}{% load staticfiles %}

{% block head_extend %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock%}

{% block content %}
    <div class="container">
        <div class="content">
            <form class="form-signup" action="" method="post">{% csrf_token %}
                <h2 class="form-signin-heading">Registration form</h2>
                {% include 'studdb/form_basic.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}